// В этом файле должны быть стили для БЭМ-блока headline, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.headline {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: px-to-em(420);
  background-image: url('../img/bg-section1.png');
  background-position: 20% 346%;
  background-repeat: no-repeat;

  .section-title__item:first-child {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
  }


  &__wrapper {
    @include wrapper();
  }
}
