
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}


// Main styles temp
.main-nav {
  padding-top: 20px;
}

.main-nav__list {
  align-items: center;
}

.logo__text {
  font-size: 2.6em;
  vertical-align: middle;
}

a.main-nav__link {
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
}

/* Headline */
.headline {
  padding-top: px-to-em(70);
  padding-bottom: px-to-em(420);
}

.section-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

.section-title__text {
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;

  &--handwrite {
    font-style: italic;
  }

  &--lead {
    font-size: 5em;
  }
}

// stylelint-disable
// stylelint-enable


/* Work */
.work {
  padding-top: px-to-em(115);
  padding-bottom: px-to-em(90);
  color: #fff;
  background-color: #333;

  .section-title__item:first-child {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align: right;
  }

  .section-title {
    margin-bottom: px-to-em(50);
  }



  &__wrapper {
    @include wrapper();
  }

  .carousel-inner {
    margin-bottom: px-to-em(50);
  }

  .carousel-item {
    @include row-flex();
    justify-content: stretch;

    &__content {
      @include col();
      @include size(4);
      align-self: stretch;
      padding-top: px-to-em(10);

      p {
        margin-bottom: px-to-em(30);
      }
    }

    &__img {
      @include col();
      @include size(4);
      text-align: center;
    }

    &__features {
      @include size(4);
      align-self: stretch;
      padding-top: px-to-em(10);


      .features-items {
        @include row-float();
        margin: 0 auto;

        .features-item {
          @include col();
          @include col-float();
          padding: px-to-em(20);
          text-align: center;

          .fa {
            font-size: 1.5em;
          }

          span {
            display: block;
          }
        }
      }

      .view-gallery {

      }
    }
  }

  .carousel-work__control {
    text-align: center;

    .counter,
    .carousel-work__control-prev,
    .carousel-work__control-next {
      display: inline-block;
      width: px-to-em(160);
      padding: px-to-em(10);
      background-color: #fff;
    }

    .counter {
      width: px-to-em(70);
      padding: 0;
      background-color: inherit;
    }
  }
}

/* Workflow, how we work */
.workflow {
  padding-top: px-to-em(100);
  padding-bottom: px-to-em(270);
  background-color: #eee;

  .section-title {
    margin-bottom: px-to-em(17);
    font-size: 3em;
    line-height: 1;
  }
}

.workflow__wrapper {
  @include wrapper();
}

.workflow__items {
  @include row-flex();
  margin-bottom: px-to-em(50);
}

.workflow__item {
  @include col();
  @include size(4);
}

.workflow__btn {
  text-align: center;
}

/* Blog posts */
.blog-posts {
  padding-top: px-to-em(100);
  padding-bottom: px-to-em(140);
  color: #fff;
  background-color: #333;

  .section-title {
    margin-bottom: px-to-em(75);
  }

  .owl-stage-outer {
    margin-bottom: px-to-em(60);
  }

  .owl-nav {
    display: flex;
    justify-content: center;
  }

  .owl-prev,
  .owl-next {
    padding-left: 10px;
    padding-right: 10px;
  }
}

