// В этом файле должны быть стили для БЭМ-блока modal-contact-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.modal-contact-form {

  $block-name:                &; // #{$block-name}__element

  .modal {

    &__body {

      @include sm-block() {
        padding-left: 7%;
        padding-right: 7%;
      }

      @include md-block() {
        @include row-flex();
        justify-content: center;
        align-content: flex-start;
      }
    }

    &__title {
      text-transform: uppercase;
      text-align: center;
    }
  }



  .field-text {

    &:nth-child(1),
    &:nth-child(2) {

      @include md-block() {
        @include col();
        @include size(6);
      }
    }

    &:nth-child(3) {

      @include md-block() {
        @include col();
        @include size(12);
      }
    }

    &:last-child {
      text-align: center;
    }

    &__input {
      padding: 0.7em;
    }
  }

  textarea {
    width: 100%;
    min-height: 200px;
  }

  .btn {
    width: 115px;
    height: 115px;
    margin-top: -68px;
    font-size: 1.4em;
    line-height: 100px;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-danger;
    border-radius: 50%;
  }
}
