// В этом файле должны быть стили для БЭМ-блока section-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section-title {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;

  &__text {
    font-family: $font-family--title;
    font-size: 56px;
    line-height: 53px;
    text-transform: uppercase;

    &--handwrite {
      font-family: $font-family--handwrite;
      text-transform: capitalize;

      path {
        fill: transparent;
      }

      text {
        font-size: 0.75em;
        font-weight: 700;
      }
    }
  }


  .section-title__text--lead {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 122px;
    line-height: 58px;
    color: #f00;
  }
}
