// В этом файле должны быть стили для БЭМ-блока section-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section-title {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;

  &__text {
    display: inline-block;
    font-family: $font-family--title;
    font-size: 4em;
    line-height: 0.94em;
    text-transform: uppercase;

    &--handwrite {
      font-family: $font-family--handwrite;
      text-transform: capitalize;

      path {
        fill: transparent;
      }

      text {
        font-size: 0.65em;
        font-weight: 700;
        fill: $text-color;
      }
    }

    &--lead {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 8.7em;
      line-height: 0.8em;
      color: $color-danger;
    }

    &--underline {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
      font-size: px-to-em(82);
      line-height: 0.96em;

      &:after {
        content: '';
        width: 93%;
        height: 10px;
        margin-top: -3px;

        background-color: $text-color;
      }
    }
  }
}
