// В этом файле должны быть стили для БЭМ-блока input-range-68, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.input-range-68 {

  $block-name:                &; // #{$block-name}__element

}

$track-w: 100%;
$track-h: .75em;
$track-bg: #222325;
$track-fill: transparent;

$thumb-d: 2em;
$thumb-c: #fefefe;
$thumb-refl: #5e5858;

@function refl($pos: 50% 0, $k: 1, $refl: $thumb-refl) {
  @return
  radial-gradient(at #{$pos}, rgba($refl, $k), rgba($refl, 0) 71%)
  #{$pos};
}

@function refl-l($a: 0deg, $k: 1, $refl: $thumb-refl) {
  @return
  linear-gradient($a, rgba($refl, 0), rgba($refl, $k), rgba($refl, 0)) 50% 50%;
}

@mixin track-base($flag: true) {
  box-sizing: border-box;
  border: solid 1px;
  border-color: #0c0d0f #1b1c1e #222423;
  width: $track-w; height: $track-h;
  border-radius: .25em;
  box-shadow: 0 1px 1px #5e5f63,
    inset 0 .125em .125em #0c0d0f;
  background: $track-bg;

  @if $flag {
    .js & {
      background: $track-fill $track-bg;
      background-size: 32% 100%;
    }
  }
}

@mixin thumb-base() {
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background:
    refl-l(0deg, .5), refl(), refl(0 50%),
    refl-l(90deg, .5), refl(50% 100%), refl(100% 50%),
    $thumb-c;
  background-repeat: no-repeat;
  background-size: 100% .125em, 50% 50%, 50% 50%,
    .125em 100%, 50% 50%, 50% 50%;
}

/* html, body { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  background:
    repeating-linear-gradient(-45deg,
    #262626, #262626 1px,
    transparent 1px, transparent 4px)
    #343434;

  [class*='-webkit'] & { background-image: none; }
} */

input[type='range'] {
  &,
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  align-self: center;
  border: solid 0 transparent;
  border-width: 0 2*$track-h;
  padding: 0;
  width: $track-w; height: 5*$track-h;
  border-radius: .25em;
  background: transparent;
  font-size: 1em;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    @include track-base();
  }
  &::-moz-range-track {
    @include track-base();
  }
  &::-ms-track {
    @include track-base(false);
    color: transparent;
  }
  &::-ms-fill-lower {
    border-radius: .1875em;
    background: $track-fill;
  }

  &::-webkit-slider-thumb {
    margin-top: ($track-h - $thumb-d)/2;
    @include thumb-base();
  }
  &::-moz-range-thumb {
    @include thumb-base();
  }
  &::-ms-thumb {
    @include thumb-base();
  }
  &::-ms-tooltip { display: none; }

  .js & {
    &:nth-of-type(n + 2) {
      width: 9.5em;

      &::-moz-range-track {
        width: 9.5em; height: 1.75em;
        background-size: 40% 100%;
      }
      &::-ms-track {
        width: 9.5em; height: 1.75em;
      }

      &::-webkit-slider-thumb {
        margin-top: 0;
        width: 0; height: 1.75em;
      }

      $fs: 1.75;

      &::-webkit-slider-runnable-track {
        position: relative;
        border: none;
        width: 9.5em; height: 1.75em;
        box-shadow: none;
        background: transparent;
      }

      /deep/ #track, &::-webkit-slider-runnable-track {
        &:before, &:after {
          overflow: hidden;
          position: absolute;
          top: 50%;
          width: inherit;
          transform: translateY(-50%) scaleY(.95);
          color: #232426;
          font: #{$fs*1em}/1 sans-serif;
          letter-spacing: 3px;
          text-shadow: 0 1px #555, 0 -1px #111;
          content: '★★★★★';
        }
        &:after {
          width: 40%;
          color: #3b9aca;
        }
      }
    }
  }

  &:focus {
    outline: none;
    /*box-shadow: 0 0 .25em #000;*/
  }
}