// В этом файле должны быть стили для БЭМ-блока work, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

/* Work */
.work {

  $block-name:                &; // #{$block-name}__element

  padding-top: px-to-em(94);
  padding-bottom: px-to-em(94);
  color: #fff;
  background-color: #3f3b48;
  background-image: radial-gradient(#54505b, #3f3b48);
  background-repeat: no-repeat;
  background-position: center;

  @include md-block() {
    background-image: url('../img/bg-section2.png');
  }

  .section-title {
    margin-bottom: px-to-em(30);
    font-size: 0.8em;

    @include sm-block() {
      margin-bottom: px-to-em(50);
      font-size: 1em;
    }

    &__item:first-child {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;
    }
  }

  .section-title__text {
    font-size: 3.75em;
    line-height: 1;

    &--handwrite {
      font-size: 2.9em;
      font-weight: 500;
      color: #fff;
      transform: rotateZ(-5deg);
    }

    &--lead {
      font-size: px-to-em(104);
      line-height: 0.8em;
      color: #fff;
    }
  }

  h2 {
    font-family: $font-family--subtitle;
    font-size: px-to-em(18);
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__wrapper {
    @include wrapper();
  }

  &__carousel {

  }

  .carousel-inner {
    margin-bottom: 2.38571em;
  }

  .carousel-item {
    @include row-flex();
    width: auto;
    justify-content: stretch;

    &__content {
      @include col();
      @include size(12);
      @include size-sm(6)
      @include size-md(4)
      align-self: stretch;
      padding-top: 1.81429em;
      margin-bottom: px-to-em(50);

      p {
        margin-bottom: 1.64286em;
        font-size: px-to-em(12);
        line-height: 1.75em;
        opacity: 0.6;
      }
    }

    &__list {
      font-family: $font-family--subtitle;
      font-size: 1em;
      line-height: 1.87em;
      text-transform: uppercase;
      margin: 0;
      padding-left: 1.8em;

      .fa-li {
        top: 0.34em;
      }
    }

    &__link {
      font-family: $font-family--subtitle;
      font-size: px-to-em(14);
      line-height: 2em;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;

      .fa-chevron-right {
        margin-left: 0.6em;
      }
    }

    &__img {
      @include col();
      @include size(12);
      @include size-sm(6);
      @include size-md(4);
      text-align: center;
    }

    &__features {
      @include col();
      @include size(12);
      @include size-sm(12);
      @include size-md(4);
      align-self: stretch;
      padding-top: 1.81429em;
      text-align: center;

      @include md-block() {
        text-align: left;
      }

      h2 {
        margin-bottom: 1.1em;
      }

      .features-items {
        width: 82%;
        margin: 0 auto;
        margin-bottom: 35px;
        background-color: #635f6d;
        border-radius: 5px;
        font-size: 0;

        @include md-block() {
          margin: 0;
          margin-bottom: 35px;
        }
      }

      .features-item {
        display: inline-block;
        width: 33.33%;
        padding-top: px-to-em(20);
        padding-bottom: px-to-em(20);
        text-align: center;
        font-size: 14px;
      }

      .fa:not(.fa-chevron-right) {
        font-size: 2.8em;
        margin-bottom: 0.13em;
      }

      span {
        display: block;
        text-transform: uppercase;
      }

      &:nth-child(2) {
        border: 1px solid #413d4a;
        border-top: none;
        border-bottom: none;
      }
    }
  }

  .carousel-work__control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;

    @include sm-block() {
      font-size: 1em;
    }

    .carousel-work__control-prev,
    .carousel-work__control-next {
      display: inline-block;
      position: relative;
      width: 125px;
      padding: 0 5px;

      @include sm-block() {
        width: px-to-em(160);
        height: 42px;
        padding: 0;
      }
    }

    .counter {
      display: inline-block;
      width: 55px;
      height: 61px;
      padding: 0;
      line-height: 61px;
      text-align: center;
      background-color: inherit;
      background-image: url('../img/img-pagination.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include sm-block() {
        width: 75px;
        background-size: cover;
      }
    }
  }

  .carousel-work__control-prev {
    text-align: right;

    @include sm-block() {
      border-left: 165px solid #fff;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }

    span {
      font-family: $font-family--subtitle;
      font-size: px-to-em(12);
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;

      @include sm-block() {
        position: absolute;
        left: -145px;
        top: 7px;
        color: $text-color;
      }
    }
  }

  .carousel-work__control-next {
    text-align: left;

    @include sm-block() {
      border-right: 165px solid #fff;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }

    span {
      font-family: $font-family--subtitle;
      font-size: px-to-em(12);
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;

      @include sm-block() {
        position: absolute;
        right: -130px;
        top: 7px;
        color: $text-color;
      }
    }
  }
}
