// В этом файле должны быть стили для БЭМ-блока diagram-facts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.diagram-facts {

  $block-name:                &; // #{$block-name}__element

  display: none;

  @include lg-block() {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  &__sphere {
    width: 10px;
    height: 10px;
    margin: 0 auto;

    color: #fff;
    border-radius: 50%;
    background-color: $text-color;
  }

  &__number {
    font-family: $font-family--subtitle;
  }

  &__subtitle {
    margin-top: 1em;
    font-family: $font-family--subtitle;
    font-size: px-to-em(12);
    text-transform: uppercase;
  }

  &__line {
    position: absolute;
    height: 1px;
    background-color: $text-color;

    &:nth-of-type(1) {
      bottom: 138px;
      left: 40px;
      width: 200px;
      transform: rotateZ(-31deg);
    }

    &:nth-of-type(2) {
      bottom: 121px;
      left: 230px;
      width: 160px;
      transform: rotateZ(25deg);
    }

    &:nth-of-type(3) {
      bottom: 141px;
      left: 362px;
      width: 160px;
      transform: rotateZ(-43deg);
    }

    &:nth-of-type(4) {
      bottom: 241px;
      left: 404px;
      width: 160px;
      transform: rotateZ(50deg);
    }

    &:nth-of-type(5) {
      bottom: 261px;
      left: 484px;
      width: 160px;
      transform: rotateZ(-42deg);
    }

    &:nth-of-type(6) {
      bottom: 209px;
      left: 564px;
      width: 180px;
    }
  }

  &__item {
    z-index: 5;

    &:nth-of-type(1) {
      position: absolute;
      bottom: 63px;
      left: 40px;

      .diagram-facts__sphere {
        width: 33px;
        height: 33px;
      }
    }

    &:nth-of-type(2) {
      position: absolute;
      bottom: 83px;
      left: 152px;

      .diagram-facts__sphere {
        width: 113px;
        height: 113px;
      }

      .diagram-facts__number {
        font-size: 38px;
        line-height: 113px;
      }
    }

    &:nth-of-type(3) {
      position: absolute;
      bottom: 27px;
      left: 318px;

      .diagram-facts__sphere {
        width: 80px;
        height: 80px;
      }

      .diagram-facts__number {
        font-size: 26px;
        line-height: 80px;
      }

      .diagram-facts__subtitle {
        margin-top: 1.4em;
      }
    }

    &:nth-of-type(4) {
      position: absolute;
      bottom: 271px;
      left: 417px;

      .diagram-facts__sphere {
        width: 33px;
        height: 33px;
      }
    }

    &:nth-of-type(5) {
      position: absolute;
      bottom: 117px;
      left: 465px;

      .diagram-facts__sphere {
        width: 113px;
        height: 113px;
      }

      .diagram-facts__number {
        font-size: 38px;
        line-height: 113px;
      }

      .diagram-facts__subtitle {
        margin-top: 1.4em;
      }
    }

    &:nth-of-type(6) {
      position: absolute;
      bottom: 264px;
      left: 603px;

      .diagram-facts__sphere {
        width: 73px;
        height: 73px;
      }

      .diagram-facts__number {
        font-size: 21px;
        line-height: 73px;
      }

      .diagram-facts__subtitle {
        margin-top: 1.4em;
      }
    }

    &:nth-of-type(7) {
      position: absolute;
      bottom: 81px;
      left: 723px;

      .diagram-facts__sphere {
        width: 190px;
        height: 190px;
      }

      .diagram-facts__number {
        font-size: 72px;
        line-height: 190px;
      }

      .diagram-facts__subtitle {
        margin-top: 1.4em;
      }
    }
  }
}
